<%

var zeroPad = function (input, length) {
  var str = "" + input;
  while (str.length < length) {
    str = "0" + str;
  }
  return str;
};

function toDurationString(input) {
  var d = new Date(input);
  var h = d.getUTCHours() + (d.getUTCDate() - 1) * 24;
  return zeroPad(h, 2) + ":" + zeroPad(d.getUTCMinutes(), 2) + ":" + zeroPad(d.getUTCSeconds(), 2) + "." + zeroPad(d.getUTCMilliseconds(), 3);
}

var red     = '#CC0000';
var green   = '#006600';
var amber   = '#FF8000';
var gray    = '#727272';
var blue    = '#1C4BE0';
var dark    = '#E0E0E0';
var light   = '#F5F5F5';

var stripedColorValue = light;

var stripedColor = function() {
  if (stripedColorValue == dark) {
    stripedColorValue = light;
    return light;
  } else {
    stripedColorValue = dark;
    return dark;
  }
};

var consolidatedStatus = function(status){
  if (typeof status != 'string')
    return '';

  status = status.toLowerCase().trim();

  var cStatus = status;

  if (/fail|failed|ko|nok|error/.test(status))
    cStatus = "failed";
  else if (/ok|pass|passed/.test(status))
    cStatus = "ok";

  return cStatus;
};

var statusToColor = function(status) {

  status = consolidatedStatus(status);

  if (status == '')
    return '';

  var color = "";

  if (status == 'failed')
    color = red;
  else if (status == 'ok')
    color = green;
  else if (/partial|warning/.test(status))
    color = amber;
  else if (status == 'inconclusive')
    color = gray;
  else if (status == 'info')
    color = blue;

  return color;
};

var formatData = function(custom, dataKey) {
  if (custom === undefined) return '';
  return formatDataResult(custom[dataKey]);
}

var formatDataResult = function (data) {
  if(data === undefined) return '';
  var f = parseFloat(data);
  if (isNaN(f)) {
    return data;
  }
  else {
    return f.toPrecision(3);
  }
}
%>

<div style="font-size: 30px; font-family: Calibri, Helvetica, Arial, sans-serif; padding:10px">
    <span style="color:#ff8000">Compass</span> <span style="color:#c8c7c7">Test Automation</span>
</div>

<hr noshade="noshade" style="height:1px" />


<p style='font-size: 14px; font-family: Calibri, Helvetica, Arial, sans-serif'>

  <strong>Scenarios : </strong><%= name %> <br />
  <strong>Execution id : </strong><%= execution.id || execution._id %><br />
  <strong>Execution state : </strong><%= execution.state %><br />
  <strong>OK : </strong><%= execution.ok %><br />
  <strong>Partial : </strong><%= execution.partial %><br />
  <strong>Inconlusive : </strong><%= execution.inconclusive %><br />
  <strong>Failed : </strong><%= execution.failed %><br />

</p>


<p style='font-size: 14px; font-family: Calibri, Helvetica, Arial, sans-serif'>
  <b>Started at : </b><%= new Date(execution.requestTimestamp).toLocaleTimeString() %>
  / <b>Ended at : </b><%= new Date(execution.completeTimestamp).toLocaleTimeString() %>
</p>

<hr noshade="noshade" style="height:1px" />

